{{ define "title" }}
Application detail
{{ end }}

{{ define "content"}}
<form action="/interview/create" method="POST">
  <div class="field">
    <label class="label">time 1</label>
    <div class="control">
      <input type="datetime-local" class="input" name="time1">
    </div>
  </div>
  <div class="field">
    <label class="label">time 2</label>
    <div class="control">
      <input type="datetime-local" class="input" name="time2">
    </div>
  </div>
  <div class="field">
    <label class="label">time 3</label>
    <div class="control">
      <input type="datetime-local" class="input" name="time3">
    </div>
  </div>
  {{.csrfField}}
  <input type="hidden" value="{{.application.ApplicationID.Hex}}" name="application">
  <button type="submit">Schedule interview</button>
</form>

{{ range.messages }}
<div class="notification">
  {{.}}
</div>
{{ end }}
{{ end }}