{{ define "title" }}
applications
{{ end }}

{{ define "content"}}
<table class="table is-bordered is-striped">
        <thead>
          <th>ID</th>
          <th>Interview</th>
        </thead>
        <tbody>
            {{$csrfField := .csrfField}}
            {{range $i, $v :=.applications}}
              <tr>
                <th>{{$v.ApplicationID.Hex}}</th>
                <td>
                  <form action="/interview/create" method="post">
                      {{ $csrfField }}
                      <input type="hidden" value="{{$v.ApplicationID.Hex}}" name="application">
                      <input type="submit" value="create" class="button is-light">
                  </form>
                </td>
              </tr>
            {{end}}
        </tbody>
      </table>
{{ range.messages }}
<div class="notification">
  {{.}}
</div>
{{ end }}
{{ end }}
