{{ define "title" }}
Dashboard
{{ end }}

{{ define "content"}}
{{$csrfField := .csrfField}}
{{range $i, $v :=.events}}
    <div class="card">
      <div class="card-header">
        <h2 class="card-header-title">
          {{ if $v.IsInterview}}
            Interview
          {{end}}
        </h2>
      </div>
      <div class="card-content">
        Status:
        {{ if or $v.IsInterviewCreated $v.IsInterviewUpdated}}
          <span>Waiting for confirmation</span>
        {{end}}
        {{ if $v.IsInterviewConfirmed}}
          <span>Confirmed</span>
        {{end}}
        {{ if $v.IsInterviewCancelled}}
          <span>Cancelled</span>
        {{end}}
        
        {{range $v.TimeOptionsDisplay}}
        <div>{{.}}</div>
        {{ end }}
      </div>
      <footer class="card-footer">
        {{if or $v.IsInterviewCreated $v.IsInterviewUpdated }}
        <form action="/interview/confirm" method="POST">
          {{$csrfField}}
          <input type="hidden" value="{{$v.EventID.Hex}}" name="event">
          <div class="control">
            {{range $idx, $td := $v.TimeOptionsDisplay}}
            <label class="radio">
              <input type="radio" name="time" value="{{index $v.TimeOptions $idx}}">
              {{$td}}
            </label>
            {{end}}
          </div>
          <button type="submit" class="card-footer-item">Confirme</button>
        </form>
          <a href="#" class="card-footer-item">Decline</a>
        {{end}}
      </footer>
    </div>
    {{ end }}
{{ end }}