{{ define "title" }}
Job list
{{ end }}

{{ define "content"}}
<div class="card">
  <div class="card-content">
    <div class="tabs is-boxed">
      <ul>
        <li class="is-active"><a>All</a></li>
        <li><a>Active</a></li>
        <li><a>Inactive</a></li>
      </ul>
    </div>
    <table class="table is-bordered is-striped">
      <thead>
        <th>Pos</th>
        <th>Title</th>
      </thead>
      <tbody>
          {{range $i, $v :=.jobs}}
            <tr>
              <th>{{$i}}</th>
              <td><a href="/dashboard/job/{{.JobID.Hex}}">{{$v.Title}}</a></td>
            </tr>
          {{end}}
      </tbody>
    </table>
   
  </div>
</div>
{{ range.messages }}
<div class="notification">
  {{.}}
</div>
{{ end }}
{{ end }}
