{{ define "title" }}
applications
{{ end }}

{{ define "content"}}
      <table class="table is-bordered is-striped">
        <thead>
          <th>#</th>
          <th>Status</th>
          <th>Detail</th>
        </thead>
        <tbody>
            {{$csrfField := .csrfField}}
            {{range $i, $v :=.applications}}
              <tr>
                <td><a href="/dashboard/application/{{$v.ApplicationID.Hex}}">{{ $i }}</a></td>
                <td>
                  {{$v.Status}}
                </td>
                <td>
                    <form action="/interview/create" method="post">
                      {{ $csrfField }}
                      <input type="hidden" value="{{$v.ApplicationID.Hex}}" name="application">
                      <input type="submit" value="create" class="button is-light">
                  </form>
                </td>
              </tr>
            {{end}}
        </tbody>
      </table>
{{ range.messages }}
<div class="notification">
  {{.}}
</div>
{{ end }}
{{ end }}
