{{ define "title" }}
Post Job
{{ end }}

{{ define "content"}}
<form class="card" action="/dashboard/post-job" method="POST">
  <div class="card-content">
    <!-- title -->
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" name="title" />
      </div>
    </div>
    <!-- end title-->
    <!-- category -->
    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <input class="input" type="text" name="title" />
      </div>
    </div>
    <!-- end category -->
    <!-- description -->
    <div class="field">
      <label class="label">description</label>
      <div class="control">
        <textarea class="input" name="description"></textarea>
      </div>
    </div>
    <!-- end description -->

    {{ .csrfField }}
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Post</button>
      </div>
    </div>
  </div>
</form>
{{ range.messages }}
<div class="notification">
  {{.}}
</div>
{{ end }}
{{ end }}