<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Job Search
        </a>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{ if .login }}
              <a class="button is-text" href="/dashboard">Dashboard</a>
              <form action="/logout" method="post">
                {{ if .csrfField }}
                {{ .csrfField }}
                {{ end }}
                <button class="button is-light" type="submit">Sign out</button>
              </form>
              {{ else }}
              <a class="button is-primary" href="/register">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <aside class="menu">
                <p class="menu-label">
                  General
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/dashboard"
                      {{ if .IsDashboard }}
                      class="is-active"
                      {{ end }}
                      >Dashboard</a
                    >
                  </li>
                </ul>
                <p class="menu-label">
                  Company
                </p>
                <ul class="menu-list">
                  <li>
                    <a>Company</a>
                    <!-- <ul>
                        <li><a>Jobs</a></li>
                        <li><a>Staff</a></li>
                      </ul> -->
                  </li>
                  <li>
                    <a href="/dashboard/company-register">Add a company</a>
                  </li>
                </ul>
                <p class="menu-label">
                  Jobs
                </p>
                <ul class="menu-list">
                  <li>
                    <a href="/dashboard/post-job">Post a job</a>
                  </li>
                </ul>
                <p class="menu-label">
                  Settings
                </p>
                <ul class="menu-list">
                  <li><a>Account Profile</a></li>
                  <li><a>Authentication</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
        <div class="column is-three-quarters">
          {{ template "content" . }}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(el => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
